pkgbase = gc2607-ipu-bridge-dkms-git
	pkgdesc = Intel IPU bridge with GC2607 (GCTI2607) sensor-table entry (DKMS)
	pkgver = 0.1.0.r49.gde91308
	pkgrel = 1
	url = https://github.com/zylona/gc2607-camera-linux
	install = gc2607-ipu-bridge-dkms.install
	arch = x86_64
	license = GPL2
	makedepends = git
	depends = dkms
	provides = gc2607-ipu-bridge-dkms=0.1.0.r49.gde91308
	provides = ipu-bridge-gc2607-dkms=0.1.0.r49.gde91308
	conflicts = gc2607-ipu-bridge-dkms
	conflicts = ipu-bridge-gc2607-dkms
	source = git+https://github.com/zylona/gc2607-camera-linux.git
	sha256sums = SKIP

pkgname = gc2607-ipu-bridge-dkms-git
